/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Nanum+Myeongjo:wght@800&family=PT+Sans+Narrow&display=swap");

:root {
  --russian-violet: #0c0a3eff;
  --carolina-blue: #5aa0d6ff;
  --piggy-pink: #ffe4f0ff;
  --magnolia: #eae6efff;
  --aero-blue: #c7efcfff;
  --amaranth-pink: #ff96bcff;
  --lilac: #c19ac7ff;
}

/* Desktop Views ******************************/
@media only screen and (min-width: 60em) {
  body {
    background-color: white;
    font-family: arial narrow;
    max-width: 960px;
    margin: 0px auto;
    align-content: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    min-height: 100vh;
  }
  
  header {
    background-color: var(--russian-violet);
    height: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding-bottom: 10px;
  }
  
  div.logobox {
    background: white;
    float: left;
  }
  
#logo {
    width: 175px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  h1 {
    color: var(--magnolia);
    text-align: center;
    font-family: "Nanum Myeongjo", Georgia;
    padding-top: 40px;
    padding-bottom: 0;
  }
  
  h2 {
    color: white;
    text-align: center;
    font-family: "Nanum Myeongjo", Georgia;
    font-size: 1.2em;
    margin-bottom: 20px;
    margin: 0;
    padding-bottom: 15px;
  }
  
  h3 h4 h5 p {
    color: black;
    text-align: left;
    font-family: "Arial Narrow Bold";
    font-size: 1.5em;
    margin: 0;
    padding: 20px;
  }
  
  nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1rem;
  }
  
  nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
  nav ul li:hover {
    color: white;
    background-color: var(--carolina-blue);
  }
  
  nav {
    background-color: var(--piggy-pink);
    text-align: justify;
    height: 50px;
    width: 100%;
    margin-bottom: 50px;
  }
  
  main {
    background: white;
  }
  
  section {
    margin: 20px;
  }
  
  .sitemap {
    width: 75%;

  }
  
  .logo {
    width: 75%;
  }
  
  .wireframe {
    width: 75%;
  }
  
  .address {
    width: 75%;
  }
  
  footer {
    background-color: var(--russian-violet);
    height: 100px;
    border-radius: 15px;
  }
  
  .footerContent {
    color: white;
    text-align: center;
    font-family: "Nanum Myeongjo", Georgia;
    padding: 34px 0;
    margin-bottom: 20px;
    margin: 0;
  }
}