/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Nanum+Myeongjo:wght@800&family=PT+Sans+Narrow&display=swap");

:root {
    --timberwolf: #dad7cdff;
    --laurel-green: #a3b18aff;
    --fern-green: #588157ff;
    --hunter-green: #3a5a40ff;
    --brunswick-green: #344e41ff;
}
body {
  background-color: var(--timberwolf);
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1{
    color: var(--laurel-green);
    text-align: center;
    font-family: "Nanum Myeongjo", serif;
    font-size: 3em;
    padding: 25px;
    padding-bottom: 0;
    margin: 0;
}

h2 {
  color: var(--timberwolf);
  text-align: center;
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.8em;
  margin-bottom: 20px;
  margin: 0;
}
 
h3 {
  color: var(--hunter-green);
  text-align: center;
  font-family: "PT Sans Narrow", serif;
  font-size: 2.5em;
  margin: 0;
  padding: 20px;
}

a {
    color: var(--fern-green);
    font-family: "PT Sans Narrow", serif;
    font-size: 1.5em;
}

p {
    color: var(--hunter-green);
    text-align: center;
    font-family: "PT Sans Narrow", serif;
    font-size: 1.5em;
    margin: 0;
    padding: 20px;
}

.footerContent {
    color: var(--timberwolf);
    text-align: center;
    font-family: "Nanum Myeongjo", serif;
    font-size: 1em;
}

.footerContent a {
    color: var(--timberwolf);
    font-family: "Nanum Myeongjo", serif;
    font-size: 1em;
}

img {
    align-items: center;
}

header {
    background-color: var(--brunswick-green);
    height: 150px;
}

footer {
    background-color: var(--brunswick-green);
    height: 100px;
}

footer p {
    padding-top: 25px;
}

main {
  display: block;
  font-size: 0.8rem;
  max-width: 100%;
}

main section {
  display: block;
  margin: 0.5rem;
  border: 1px solid #bbb;
  padding: 0 3rem;
  background-color: #eee;
  border-radius: 15px;
}

main picture {
  margin: 0.5rem;
  width: 100%;
}

/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
  main {
    display: flex;
  }
}

/* Desktop Views ******************************/
@media only screen and (min-width: 60em) {
}
