body {
    font-size: 16px;
    font-family: "Georgia", serif;
  }
  
  header,
  nav,
  main,
  footer {
    max-width: 100%;
    margin: 0 auto;
  }
  
  header {
    color: #EAE6EF;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: #0C0A3E;
  }
  
  header img {
    width: 80px;
    float: left;
    padding-top: 25px;
  }
  
  .articleimg {
    float: center;
    padding: 0px 3px 0px 0px;
    box-shadow: 2px 2px 5px 2px rgb(44 44 44);
    left: 50%;
  }
  
  .articleimgSS {
    float: center;
    padding: 0px 3px 0px 0px;
    box-shadow: 2px 2px 5px 2px rgb(44 44 44);
  }
  
  .articleimgFH {
    float: center;
    width: 500px;
    padding: 0px 3px 0px 0px;
    box-shadow: 2px 2px 5px 2px rgb(44 44 44);
  }
  
    div.article p{
      height: 400px;
    }
  
    div.article h4{
      padding-top: 5px;
    }
  
    div.articleSS p{
      height: 400px;
    }
  
  section.heading1 {
    text-align: center;
    margin-top: 10px;
    height: 35px;
  }
  
  .heading1 {
    font-size: 1.2rem;
    text-align: center;
  }
  
  div.heading2 {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 20px;
    color: white;
  }
  
  h1,
  h2,
  h3,
  h4,
  h4,
  h6 {
    font-family: "Georgia", sans-serif;
  }
  
  aside.announcement {
    background-color: #FFE4F0;
    color: black;
    padding: 2em;
    margin-top: 0;
    text-align: center;
  }
  
  aside#pancakes.announcement.hide {
    display: none;
  }
  
  nav {
    background-color: #C7EFCF;
  }
  
  nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: black;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0.8rem 2%;
    color: black;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #C7EFCF;
  }
  
  nav ul li.active a {
    background-color: #EAE6EF;
    color: #0C0A3E;
  }
  
  nav ul li a:hover {
    background-color: #EAE6EF;
    color: black;
  }
  
  nav ul.hide {
    display: none;
  }
  
  .headertitle {
    color: #5AA0D6;
    padding: 5px;
  }
  
  .header-title .hero-header {
    position: absolute;
  }
  
  main picture.hero { 
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    margin: 30px auto; 
  }
  
  .hero-image {
    max-width: 100%;
    margin: 0 auto; 
  }
  
  main {
    padding: 1rem;
  }
  
  footer {
    background-color: #0C0A3E;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  
  footer a:visited {
    color: #C7EFCF;
  }
  
  footer a {
    color: white;
  }
  
  section.heading1 {
    text-align: left;
  }
  
  div.contentbox {
    padding: 20px;
    margin: 20px 0px 20px 0px;
  }
  
  div#mapdiv {
    color: #2a3640;
    text-align: center;
    margin: 3rem 0 0 0;
    align-items: center;
    justify-items: center;
  }
  
  img#ice_shack {
    display: block;
    width: 96%;
    margin: 0 2%;
    background-color: white;
  }
  .smicon {
    width: 30px;
    padding: 5px;
  }
  
  iframe {
    display: none;
  }
  
  div#weather_pics {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr;
  }
  
  img.weather_gallery {
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-items: center;
  }
  
  h2.galleryHeading {
    font-size: 1rem;
    text-align: center;
  }
  
  figcaption {
    text-align: center;
    color: black;
    caption-side: bottom;
  
  }
  
  figure.gallery {
    margin: 5%;
  }
  
  figure.gallery img[data-src] {
    filter: blur(0.2em);
  }
  
  figure.gallery img {
    filter: blur(0em);
    transition: filter 1.5s;
  }
  
  .hero img {
    max-width: 100%;
  }
  
  h3#weather_summary {
    grid-column: 1/3;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
    margin: 0 auto;
  }
  .herodiv {
    position: relative;
  }
  
  #headings {
    display: flex;
    flex-direction: column;
  }
  
  .weathersummary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: #FFE4F0;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    border: solid;
    grid-column-gap: 1.5rem;
    opacity: 0.75;
  }
  
  .header-title {
    position: absolute;
    text-align: justify;
  }
  
  h2.city {
    padding-top: 20px;
  }
  
  .contentbox {
    background-color: white;
    padding: 12px;
    display: block;
    margin: 10px auto;
    border: 1px;
    color: black;
  }
  
  
  div#five_day {
    display: none;
  }
  
  section#contact_info {
    padding: 10px;
    background-color: #FFE4F0;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /******************Form*********************/
  
  h1.h1sc {
    font-size: 2.2rem;
  }
  
  form fieldset {
    margin: 2rem 0;
    border: 1px solid #0c0a3eff;
    border-radius: 10px;
    padding: 1rem 2% 2.5rem 2%;
  }
  
  form legend {
    color: #0c0a3eff;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
  }
  
  form label.top, form div {
    display: block;
    padding-top: 1rem;
    color:#0c0a3eff;;
    font-size: 1.2rem;
    font-family: "Georgia", sans-serif;
  }
  
  form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
  }
  
  #rating {
    display: block;
    padding-top: 3rem;
    color: #000000;
    font-size: 1rem;
  }
  
  div#rate {
    margin-top: -1.5rem;
  }
  
  form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
  }
  
  form input.submitBtn {
    border: none;
    background-color:#c19ac7ff;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
  }
  
  form label.top input:required {
    border-left: red solid 6px;
  }
  
  form label.top input:required:valid{
    border-left: green solid 6px;
  }
  
  input.txtarea {
    width: 100%;
    height: 120px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
  }
  
  fieldset#danger{
    margin-bottom: 5rem;
  }
  
  form select.formbut {
    padding: 10px;
    border-radius: 4px;
  }
  
  div#rate{
    padding-top: 4.5rem;
    margin-bottom: -1rem;
  }
  
  span#ratingvalue {
    color: blue;
    padding: .2rem;
  }
  
  .flexly {
    display: flex;
    align-items: center;
  }
  
  img.hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(37, 37, 37, 0.5);
  }
  
  h1.h1sc {
    text-align: center;
    font-size: 3rem;
  }
  
  /* Table Build Activity*/
  
  table,
  th,
  td {
    border: 1.1px solid rgba(199, 199, 199, 0.575);
    border-collapse: separate;
    font-family: "Georgia", sans-serif;
    margin-right: auto;
    margin-left: auto;
    color: black;
  }
  
  th,
  td,
  caption {
    padding: 15px 0 15px;
  }
  
  th {
    font-size: 1.4em;
    background-color: rgb(77, 129, 168);
  }
  
  caption {
    margin: 0;
    padding: 0;
    font-size: 2em;
    border-collapse: collapse;
    color: black;
    width: 400px;
  }
  
  td {
    text-align: center;
    font-size: 1.2em;
  }
  
  tr:nth-child(even) {
    background-color: rgb(255, 236, 245);
  }
  
  tr {
    background-color: #ffe4f0;
    color: black;
    margin: 0;
  }
  
  tfoot tr {
    background-color: rgb(168, 193, 212);
  }
  
  .focus {
    background-color: rgb(77, 129, 168);
    color: white;
  }
  
  /***************Homepage Town Info*************/
  
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  * { 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  article {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  article:nth-child(odd) img {
    grid-column: 1;
  }
  
  article:nth-child(odd) .data {
    grid-column: 1;
    grid-row: 1;
  }
  
  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(220px, 1fr));
    max-width: 100%;
    grid-gap: 5px;
    margin: 5px;
    grid-template-rows: repeat(auto-fill,minmax(200px, 1fr));   
  }
  
  .cards article{
    display: block;
    margin: 15px;
    background: #EAE6EF;
    border: 1px solid #eae0ef;
    min-height: 250px;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px #999, 0 10px 10px -5px #999;
  }
  
  .tInfo{
    padding: 8px; 
  }
  
  .tName{
    font-size: 1.7rem;
    margin-bottom: 8px;
  }
  
  .tMoto{
    margin: 0 auto 20px auto;
  }
  
  .cards img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
  }
  
  .homepage-article {
    position: relative;
    text-align: left;
    max-width: 100%;
    margin: auto;
  }
  
  .frame {
    text-align: center;
    margin: auto;
  }
  
  .clear{
    clear: right;
  }