/* Fonts from Google Fonts - more at https://fonts.google.com */

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Nanum+Myeongjo:wght@800&family=PT+Sans+Narrow&display=swap");

:root {
  --russian-violet: #0c0a3eff;
  --carolina-blue: #5aa0d6ff;
  --piggy-pink: #ffe4f0ff;
  --magnolia: #eae6efff;
  --aero-blue: #c7efcfff;
  --amaranth-pink: #ff96bcff;
  --lilac: #c19ac7ff;
}

/* Tablet Views ******************************/

@media only screen and (min-width: 37.5em) {

  h1 {
    font-size: 3em;
  }

  body {
    background-color: white;
    font-family: arial narrow;
    max-width: 950px;
    margin: 0 auto;
    align-content: center;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    min-height:100vh;
  }

  .logo {
    width: 100px;
  }

  section.headings {
    margin-right: 30%;
  }


  .article {
    margin-top: 10px;
  }

  nav ul li a {
    background-color: var(--aero-blue);
    color: black;
    display: block;
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 0.8rem 2%;
    border-top: 1px solid #999;
    font-size: .95rem;
    font-family: "Nanum Myeongjo"
  }

  .map {
    width: 400px;
    margin-right: 1em;
    float: left;
  }

  .social-icons {
    width: 350px;
    padding: .30em;
  }

  footer p {
    color: white;
    font-size: 2em;
  }
}